[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/gohugo-ananke/ananke
[submodule "nomad-tech"]
	path = nomad-tech
	url = https://github.com/m03315/nomad-tech
[submodule "themes/hugo-theme-spectra"]
	path = themes/hugo-theme-spectra
	url = https://github.com/JoeYang1412/hugo-theme-spectra
[submodule "themes/E25DX"]
	path = themes/E25DX
	url = https://github.com/dumindu/E25DX.git
