<header id="site-header">
	<div id="site-header-logo">
		<a href="{{ site.Home.Permalink }}">
			<img height="52px" src="{{ "assets/icons/logo.svg" | absURL }}" alt="Site Logo">
			<img height="52px" src="{{ "assets/icons/logo_inverse.svg" | absURL }}" alt="Site Logo">
		</a>
	</div>

	<div id="site-header-actions">
		<div id="search-box">
			<pagefind-modal-trigger compact="true"></pagefind-modal-trigger>
			<pagefind-modal></pagefind-modal>
		</div>

		{{ partial "components/theme-dropdown.html" . }}

		<div class="contacts-dropdown">
			<button class="contacts-btn" aria-label="Reach me!">
			{{partial "icon.html" "connect_without_contact"}}
			</button>
			<div class="contacts-menu">
				<a href="" target="_blank" rel="noopener noreferrer">
				{{ partial "icon.html" "linkedin" }} LinkedIn
				</a>
				<a href="" target="_blank" rel="noopener noreferrer">
				{{ partial "icon.html" "github" }} GitHub
				</a>
				<a href="" target="_blank" rel="noopener noreferrer">
				{{ partial "icon.html" "mail" }} Mail
				</a>
			</div>
		</div>
	</div>

	{{ with site.Menus.main }}
	<nav id="site-header-menu" aria-label="Main">
		{{ range . }}
			{{ if (urls.Parse .URL).IsAbs }}
			<a href="{{ .URL | absLangURL }}" rel="external" target="_blank">
				<span>{{ partial "icon.html" .Params.icon }}</span>
				{{ .Name }}
			</a>
			{{ else }}
			<a href="{{ .URL | absLangURL }}" {{ if or (eq $.Section .Identifier) (eq $.RelPermalink .URL) -}} class="active"{{ end }}>
				<span>{{ partial "icon.html" .Params.icon }}</span>
				{{ .Name }}
			</a>
			{{ end }}
		{{ end }}
	</nav>
	{{ end }}
</header>
