<section class="technology-stack-section" style="margin: 2rem auto; text-align: center; max-width: 100%;">
  <h3 style="text-align: center; margin-bottom: 1rem;">Technology Stack</h3>
  <div style="display: flex; flex-wrap: wrap; gap: 8px; margin-top: 1rem;">
    <img src="https://img.shields.io/badge/Slurm-1FBCFF?style=for-the-badge&logoColor=white" alt="Slurm">
    <img src="https://img.shields.io/badge/DOCKER-2496ED?style=for-the-badge&logo=docker&logoColor=white" alt="Docker">
    <img src="https://img.shields.io/badge/FORTRAN-734F96?style=for-the-badge&logo=fortran&logoColor=white" alt="Fortran">
    <img src="https://img.shields.io/badge/GNUBASH-4EAA25?style=for-the-badge&logo=gnubash&logoColor=white" alt="GNU Bash">
    <img src="https://img.shields.io/badge/ANSYS-FFB81C?style=for-the-badge&logo=ansys&logoColor=black" alt="Ansys">
    <img src="https://img.shields.io/badge/OpenFOAM-002855?style=for-the-badge&logoColor=white" alt="OpenFOAM">
    <img src="https://img.shields.io/badge/Nek5000-FF2500?style=for-the-badge&logoColor=white" alt="Nek5000">
    <img src="https://img.shields.io/badge/NekRS-FF7300?style=for-the-badge&logoColor=white" alt="NekRS">
    <img src="https://img.shields.io/badge/LATEX-008080?style=for-the-badge&logo=latex&logoColor=white" alt="LaTeX">
    <img src="https://img.shields.io/badge/FREECAD-418FDE?style=for-the-badge&logo=latex&logoColor=white" alt="FreeCAD">
  </div>
</section>
